langchain
python-dotenv
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-ollama
sentence_transformers
transformers
langchain_huggingface
huggingface-hub
ipywidgets
faiss-cpu
langchain_chroma
streamlit
langchain-groq
fastapi
langserve
uvicorn
sse_starlette
ddgs
#sqlalchemy
#sqlite3
validators
youtube-transcript-api 